/* Grid styling */
.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px 40px;
}

.gridItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Card styling */
.card {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 28px 16px 28px;
}

.cardContainer a {
  margin-top: 13px;
  font-weight: bold;
  color: #8d9a00;
}

.cardContainer a:hover {
  font-weight: bold;
  color: #8d9a00;
  text-decoration: underline;
}
