<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style>
         @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap");
         @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
         .footer {
         -premailer-cellpadding: 0;
         -premailer-cellspacing: 0;
         -premailer-width: 570px;
         margin: 0 auto;
         text-align: center;
         width: 570px;
         padding: 30px 35px;
         }
         @media only screen and (max-width: 768px) {
         .footer {
         width: 30%;
         }
         }
         .footer p {
         text-align: center;
         color: #595858;
         font-size: 14px;
         }
         address {
         font-style: normal;
         }
      </style>
   </head>
   <body>
      <table
         align="center"
         width="570"
         cellpadding="0"
         cellspacing="0"
         role="presentation"
         >
         <tbody>
            <tr>
               <td class="footer">
                  <!-- Instagram -->
                  <table align="center">
                     <tbody>
                        <tr>
                           <td>
                              <img
                                 src="https://cdn.exclaimer.com/Handbook%20Images/instagram-icon_128x128.png?_ga=2.228250781.1691696941.1630411941-415403205.1630411941"
                                 alt="logo"
                                 class="logo"
                                 width="30"
                                 />
                              <!-- Facebook -->
                           <td>
                              <img
                                 src="https://cdn.exclaimer.com/Handbook%20Images/facebook-icon_128x128.png?_ga=2.228250781.1691696941.1630411941-415403205.1630411941"
                                 alt="logo"
                                 class="logo"
                                 width="30"
                                 />
                           </td>
                           <!-- Twitter -->
                           <td>
                              <img
                                 src="https://cdn.exclaimer.com/Handbook%20Images/twitter-icon_128x128.png?_ga=2.165329727.1691696941.1630411941-415403205.1630411941"
                                 alt="logo"
                                 class="logo"
                                 width="30"
                                 />
                           </td>
                           <!-- LinkedIn -->
                           <td>
                              <img
                                 src="https://cdn.exclaimer.com/Handbook%20Images/linkedin-icon_128x128.png?_ga=2.206076691.1691696941.1630411941-415403205.1630411941"
                                 alt="logo"
                                 class="logo"
                                 width="30"
                                 />
                           </td>
                        </tr>
                     </tbody>
                  </table>
                  <address>
                     <p>
                        <a href="https://www.blessingsinabag.co"
                           >www.blessingsinabag.co</a
                           >
                     </p>
                     <p>
                        Blessings in a Bag <br />
                        315 Outram Road <br />
                        #08-06A Tan Boot Liat Building, <br />
                        Singapore, Singapore
                     </p>
                  </address>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>