<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap");
            @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
      
            /* Header */
      
            .header {
              padding: 35px 30px 0 30px;
              text-align: center;
              color: #111122;
              font-weight: 600;
              font-size: 26px;
              text-decoration: none;
            }
      
            @media only screen and (max-width: 768px) {
              .header {
                width: 40%;
              }
            }
      
      
            .header h1 div {
              display: inline-block;
              white-space: nowrap;
            }
      
            .header h1 div span {
              white-space: pre-line;
            }
      
            .logo {
              vertical-align: middle;
              margin: 0 -10px;
            }
      
            .vl {
              display: inline-block;
              vertical-align: middle;
              width: 0px;
              height: 70px;
              border-right: 1px solid #7b7b7b99;
            }
      
            .quote {
              position: relative;
              width: 270px;
              font-size: 20px;
              font-weight: 300;
              font-style: italic;
              text-align: right;
              margin: 0 1em;
              vertical-align: middle;
              display: inline-block;
            }
      
        </style>
    </head>
    <body>
        <div class="header">
            <img
            src="https://eventnook.s3.amazonaws.com/eventlogo/eventlogo_1871.png"
            alt="logo"
            class="logo"
            width="150"
            />
            <div class="vl"></div>
            <p class="quote">
            "Do what you can, with what you have, where you are."
            </p>
        </div>
    </body>
</html>